

  <%= form_tag home_form_path do %>
    <div>
      Name: <%= text_field_tag :name %>
    </div>
    <div>
      Favorites:<br>
      <% checks{chocolate => "Chocolate", rainbow => "Rainbows", puppies => "Puppies", cash => "Cold Hard Cash" } %>

      <% checks.each do |k,v| %>
        <%= f.check_box :k %><%= #{v} %><br>
      <% end %>


    </div>
    <%= submit_tag %>
  <% end %>
