

  <%= form_tag home_form_path do %>
    <div>
      Name: <%= text_field_tag :name %>
    </div>
    <div>
      Favorites:<br>
      <%= check_box_tag :chocolate %> Chocolate<br>
      <%= check_box_tag :rainbows %> Rainbows<br>
      <%= check_box_tag :puppies %> Puppies<br>
      <% if Rails.env == "development" %>
        <%= check_box_tag :cold_hard_cash %> Cold Hard Cash<br>
      <% end %>
    </div>
    <%= submit_tag %>
  <% end %>
